body {
  margin: 0;
  padding: 0;
}

.aster_landing_topbanner {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 30px 0px 30px 0px;
}

@media screen and (max-width: 567px) {
  .aster_landing_topbanner {
    background-size: cover;
  }
}

.aster_landing_topbanner h1 {
  font-size: 31px;
  color: #fff;
  letter-spacing: 1.28px;
  margin-top: 50px;
}

@media screen and (min-width: 600px) and (max-width: 993px) {
  .aster_landing_topbanner h1 {
    font-size: 27px;
  }
}

.aster_landing_topbanner ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.aster_landing_topbanner ul li {
  display: inline-block;
  padding: 0px 35px 0px 35px;
  border-left: 1px solid #f4f4f4;
}

.aster_landing_topbanner ul li:nth-child(1) {
  border-left: none;
  padding: 0px 35px 0px 0px;
}

@media screen and (max-width: 993px) and (min-width: 600px) {
  .aster_landing_topbanner ul li:nth-child(1) {
    padding: 0px 12px 0px 12px;
  }
}

@media screen and (max-width: 567px) {
  .aster_landing_topbanner ul li {
    padding: 0px 8px 0px 12px;
  }
}

@media screen and (max-width: 993px) and (min-width: 600px) {
  .aster_landing_topbanner ul li {
    padding: 0px 8px 0px 12px;
  }
}

.aster_landing_topbanner ul li a {
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
}

.aster_landing_topbanner ul li a:hover {
  text-decoration: none;
}

.aster_landing_topbanner .bookan__appoinment {
  background-color: #dd5a6a;
  border-radius: 6px;
  color: #fff;
  padding: 12px 20px 12px 20px;
  margin-top: 35px;
}

.aster_landing_topbanner .bookan__appoinment:hover {
  text-decoration: none;
}

.aster_landing_topbanner .enquire__now__banner {
  background: #fff;
  padding: 25px;
}

.aster_landing_topbanner .enquire__now__banner h3 {
  font-size: 22px;
}

.aster_landing_topbanner .enquire__now__banner .form-group {
  margin-bottom: 12px;
}

.aster_landing_topbanner .enquire__now__banner .form-group .form-control {
  border-radius: inherit;
}

@media screen and (max-width: 320px) {
  .aster_landing_topbanner .enquire__now__banner .form-group .g-recaptcha {
    display: none;
  }
}

@media screen and (max-width: 993px) and (min-width: 600px) {
  .aster_landing_topbanner .enquire__now__banner .form-group .g-recaptcha {
    display: none;
  }
}

.aster_landing_topbanner .enquire__now__banner button {
  background: #dd5a6a;
  color: #fff;
  padding: 6px 25px 6px 25px;
  border-radius: inherit;
}

.bone-section img {
  width: 100%;
}

.bone-section .bone__marrow {
  background-color: #2ec4b8;
  background-image: -webkit-gradient(linear, left top, right top, from(#2ec4b8), to(#6078ea));
  background-image: linear-gradient(to right, #2ec4b8, #6078ea);
  border-radius: 4px;
  padding: 22px;
  color: #fff;
  font-family: StagSans;
}

.bone-section p {
  font-size: 17px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ececff;
  padding-bottom: 30px;
  color: #000000;
  font-family: StagSans;
}

.bone-section p:nth-child(4) {
  border-bottom: none;
}

@media screen and (max-width: 567px) {
  .bone-section p:nth-child(4) {
    margin-bottom: 0px;
  }
}

.doctors__section h2 {
  color: #22b78e;
  font-size: 31px;
}

@media screen and (max-width: 567px) {
  .doctors__section h2 {
    font-size: 24px;
  }
}

.doctors__section .doctors_details {
  background: #f9f9ff;
  padding: 25px 45px 25px 45px;
  -webkit-box-shadow: 0.2px 0.4px 6px 0.5px #dddddd;
          box-shadow: 0.2px 0.4px 6px 0.5px #dddddd;
}

.doctors__section .doctors_details .doctor_one h3 {
  color: #22b78e;
  font-size: 24px;
}

@media screen and (max-width: 567px) {
  .doctors__section .doctors_details .doctor_one img {
    width: 100%;
  }
}

.doctors__section .doctors_details .doctor_one h5 {
  color: #1d5aa6;
  letter-spacing: 1.5px;
  font-size: 22;
}

.doctors__section .doctors_details .doctor_one .caption {
  color: #1d5aa6;
  font-family: StagSans;
  font-size: 15px;
  letter-spacing: 1.2px;
}

.doctors__section .doctors_details .doctor_one hr {
  width: 18%;
  margin: 0 auto;
  border-top: 1px solid #22b78e;
  margin-top: -8px;
}

.doctors__section .doctors_details .doctor_one button {
  background-image: -webkit-gradient(linear, left top, right top, from(#17ead9), to(#6078ea));
  background-image: linear-gradient(to right, #17ead9, #6078ea);
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 8px 16px 8px 16px;
  margin-top: 12px;
}

.doctors__section .doctors_details .center_hr {
  border-top: 2px solid #ececff;
  margin: 20px 0px 20px 0px;
}

.bone__marrow__transplant h2 {
  color: #22b78e;
  font-size: 31px;
}

@media screen and (max-width: 567px) {
  .bone__marrow__transplant h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 567px) {
  .bone__marrow__transplant p {
    text-align: justify;
  }
}

.bone__marrow__transplant p img {
  margin-right: 12px;
  margin-top: 4px;
  float: left;
}

.bone__marrow__transplant p span {
  height: 100%;
  display: flow-root;
}

.warining_signs h2 {
  color: #22b78e;
  font-size: 31px;
}

@media screen and (max-width: 567px) {
  .warining_signs h2 {
    font-size: 24px;
  }
}

.warining_signs .warining-card {
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 6px 0px #cfcdcd;
          box-shadow: 0px 0px 6px 0px #cfcdcd;
  height: 175px;
  border-radius: 4px;
}

@media screen and (max-width: 567px) {
  .warining_signs .warining-card {
    height: auto;
  }
}

.warining_signs .img_group {
  height: 45px;
}

.warining_signs p {
  margin-top: 12px;
}

.faqs-details #faq .card {
  margin-bottom: 8px;
  border: 0;
}

.faqs-details #faq .card .card-header {
  border: 0;
  border-radius: 0px;
  padding: 0;
  background: none;
  border-bottom: 1px solid #ececff;
}

.faqs-details #faq .card .card-header .btn-header-link {
  color: #1d5aa6;
  display: block;
  text-align: left;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 0px 14px 0px;
}

@media screen and (max-width: 993px) and (min-width: 600px) {
  .faqs-details #faq .card .card-header .btn-header-link {
    font-size: 18px;
  }
}

.faqs-details #faq .card .card-header .btn-header-link:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faqs-details #faq .card .card-header .btn-header-link:after {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}

.faqs-details #faq .card .card-header .btn-header-link.collapsed {
  color: #1d5aa6;
  border-bottom: 1px solid #ececff;
}

.faqs-details #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f0de";
}

.faqs-details #faq .card .collapsing {
  line-height: 30px;
}

.faqs-details #faq .card .collapse {
  border: 0;
}

.faqs-details #faq .card .collapse.show {
  line-height: 30px;
}

.faqs-details #faq .card .collapse.show .card-body {
  padding: 20px 0px 0px 0px;
}

.faqs-details #faq .card .collapse.show .card-body p {
  font-size: 14px;
}

@media screen and (max-width: 567px) {
  .faqs-details #faq .card .collapse.show .card-body p {
    text-align: justify;
  }
}

.faqs-details #faq .card .collapse.show .card-body p img {
  margin-right: 12px;
  margin-top: 12px;
  float: left;
}

.faqs-details #faq .card .collapse.show .card-body p span {
  height: 100%;
  display: flow-root;
}

.testimonial__slider h2 {
  color: #22b78e;
  font-size: 31px;
}

@media screen and (max-width: 567px) {
  .testimonial__slider h2 {
    font-size: 24px;
  }
}

footer {
  background: #272727;
  padding: 60px 0px 60px 0px;
  text-align: center;
}

footer .social-icons {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

footer .social-icons li {
  display: inline-block;
  padding: 8px 4px 8px 4px;
}

footer .social-icons li a:hover {
  text-decoration: none;
}

footer hr {
  border-top: 1px solid #585555;
}

footer P {
  color: #8d8d8d;
  font-weight: 300;
}

footer .scroll-arrow img {
  position: fixed;
  bottom: 130px;
  right: 150px;
  display: none;
}

@media screen and (max-width: 993px) and (min-width: 600px) {
  footer .scroll-arrow img {
    bottom: 100px;
    right: 0px;
  }
}

@media screen and (max-width: 567px) {
  footer .scroll-arrow {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */