$margin: 0px;
$padding: 0px;
$bg-color: #fff;

@mixin h2tag($h2color: #22b78e, $h2font-size: 31px) {
  color: $h2color;
  font-size: $h2font-size;
  @media screen and (max-width: 567px) {
    font-size: $h2font-size - 7;
  }
}

body {
  margin: 0;
  padding: 0;
}
.aster_landing_topbanner {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 30px 0px 30px 0px;
  @media screen and (max-width: 567px) {
    background-size: cover;
  }
  h1 {
    // font-family: Titillium-Bold;
    font-size: 31px;
    color: $bg-color;
    letter-spacing: 1.28px;
    margin-top: 50px;
    @media screen and (min-width: 600px) and (max-width: 993px) {
      font-size: 27px;
    }
  }
  ul {
    list-style-type: none;
    margin: $margin;
    padding: $padding;
    // display: flex;
    li {
      display: inline-block;
      padding: 0px 35px 0px 35px;
      border-left: 1px solid #f4f4f4;
      //  flex: 1;
      &:nth-child(1) {
        border-left: none;
        padding: 0px 35px 0px 0px;
        @media screen and (max-width: 993px) and (min-width: 600px) {
          padding: 0px 12px 0px 12px;
        }
      }

      @media screen and (max-width: 567px) {
        padding: 0px 8px 0px 12px;
      }
      @media screen and (max-width: 993px) and (min-width: 600px) {
        padding: 0px 8px 0px 12px;
      }
      a {
        color: #f4f4f4;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 3px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .bookan__appoinment {
    background-color: #dd5a6a;
    border-radius: 6px;
    color: $bg-color;
    padding: 12px 20px 12px 20px;
    margin-top: 35px;
    &:hover {
      text-decoration: none;
    }
  }
  .enquire__now__banner {
    background: $bg-color;
    padding: $padding + 25;
    h3 {
      font-size: 22px;
    }
    .form-group {
      margin-bottom: 12px;
      .form-control {
        border-radius: inherit;
      }
      .g-recaptcha {
        @media screen and (max-width: 320px) {
          display: none;
        }
        @media screen and (max-width: 993px) and (min-width: 600px) {
          display: none;
        }
      }
    }
    button {
      background: #dd5a6a;
      color: $bg-color;
      padding: 6px 25px 6px 25px;
      border-radius: inherit;
    }
  }
}
.bone-section {
  img {
    width: 100%;
  }
  .bone__marrow {
    background-color: #2ec4b8;
    background-image: linear-gradient(to right, #2ec4b8, #6078ea);
    border-radius: 4px;
    padding: 22px;
    color: $bg-color;
    font-family: StagSans;
  }
  p {
    font-size: 17px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ececff;
    padding-bottom: 30px;
    color: #000000;
    font-family: StagSans;
    &:nth-child(4) {
      border-bottom: none;
      @media screen and (max-width: 567px) {
        margin-bottom: 0px;
      }
    }
  }
}

.doctors__section {
  h2 {
    @include h2tag;
  }
  .doctors_details {
    background: #f9f9ff;
    padding: 25px 45px 25px 45px;
    box-shadow: 0.2px 0.4px 6px 0.5px #dddddd;
    .doctor_one {
      h3 {
        color: #22b78e;
        font-size: 24px;
      }
      img {
        @media screen and (max-width: 567px) {
          width: 100%;
        }
      }
      h5 {
        color: #1d5aa6;
        letter-spacing: 1.5px;
        font-size: 22;
      }
      .caption {
        color: #1d5aa6;
        font-family: StagSans;
        font-size: 15px;
        letter-spacing: 1.2px;
      }
      hr {
        width: 18%;
        margin: 0 auto;
        border-top: 1px solid #22b78e;
        margin-top: -8px;
      }
      button {
        background-image: linear-gradient(to right, #17ead9, #6078ea);
        border-radius: 4px;
        border: none;
        color: $bg-color;
        padding: 8px 16px 8px 16px;
        margin-top: 12px;
      }
    }
    .center_hr {
      border-top: 2px solid #ececff;
      margin: 20px 0px 20px 0px;
    }
  }
}
.bone__marrow__transplant {
  h2 {
    @include h2tag;
  }
  p {
    @media screen and (max-width: 567px) {
      text-align: justify;
    }
    img {
      margin-right: 12px;
      margin-top: 4px;
      float: left;
    }
    span {
      height: 100%;
      display: flow-root;
    }
  }
}
.warining_signs {
  h2 {
    @include h2tag;
  }
  .warining-card {
    background: $bg-color;
    padding: 20px;
    box-shadow: 0px 0px 6px 0px #cfcdcd;
    height: 175px;
    border-radius: 4px;
    @media screen and (max-width:567px){
      height: auto;
    }
  }
  .img_group {
    height: 45px;
  }
  p {
    margin-top: 12px;
  }
}

.faqs-details #faq .card {
  margin-bottom: 8px;
  border: 0;
}

.faqs-details #faq .card .card-header {
  border: 0;
  border-radius: 0px;
  padding: 0;
  background: none;
  border-bottom: 1px solid #ececff;
}

.faqs-details #faq .card .card-header .btn-header-link {
  color: #1d5aa6;
  display: block;
  text-align: left;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 0px 14px 0px;
  @media screen and (max-width: 993px) and(min-width:600px) {
    font-size: 18px;
  }
}
.faqs-details #faq .card .card-header .btn-header-link:focus {
  outline: none;
  box-shadow: none;
}

.faqs-details #faq .card .card-header .btn-header-link:after {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}

.faqs-details #faq .card .card-header .btn-header-link.collapsed {
  color: #1d5aa6;
  border-bottom: 1px solid #ececff;
}

.faqs-details #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f0de";
}

.faqs-details #faq .card .collapsing {
  line-height: 30px;
}

.faqs-details #faq .card .collapse {
  border: 0;
}

.faqs-details #faq .card .collapse.show {
  line-height: 30px;
}
.faqs-details #faq .card .collapse.show .card-body {
  padding: 20px 0px 0px 0px;
}
.faqs-details #faq .card .collapse.show .card-body p {
  font-size: 14px;
  @media screen and (max-width: 567px) {
    text-align: justify;
  }
}
.faqs-details #faq .card .collapse.show .card-body p img {
  margin-right: 12px;
  margin-top: 12px;
  float: left;
}
.faqs-details #faq .card .collapse.show .card-body p span {
  height: 100%;
  display: flow-root;
}

.testimonial__slider {
  h2 {
    @include h2tag;
  }
}

footer {
  background: #272727;
  padding: 60px 0px 60px 0px;
  text-align: center;
  .social-icons {
    margin: $margin;
    padding: $padding;
    list-style-type: none;
    li {
      display: inline-block;
      padding: 8px 4px 8px 4px;
      a:hover {
        text-decoration: none;
      }
    }
  }
  hr {
    border-top: 1px solid #585555;
  }
  P {
    color: #8d8d8d;
    font-weight: 300;
  }
  .scroll-arrow {
    img {
      position: fixed;
      bottom: 130px;
      right: 150px;
      display: none;
      @media screen and (max-width: 993px) and (min-width: 600px) {
        bottom: 100px;
        right: 0px;
      }
    }
    @media screen and (max-width: 567px) {
      display: none;
    }
  }
}
